# ========== 기본 무시 ==========
HELP.md
*.log
*.env
*.bak
.DS_Store
Thumbs.db

# ========== Gradle ==========
.gradle/
build/

# ========== Gradle Wrapper ==========
!gradle/wrapper/gradle-wrapper.jar

# ========== IDE ==========
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / STS
.classpath
.project
.factorypath
.settings/
.apt_generated
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ========== 기타 ==========
# 로그 / 민감 정보
application.properties